@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border;
}

body {
    @apply bg-[#E8E8E8];
}

.input {
    @apply border-[#E8E8E8] rounded-md focus:ring-1 focus:border-none hover:bg-gray-200 focus:ring-primary caret-primary;
}

.card {
    @apply bg-white rounded-md shadow-md flex flex-col space-y-2;
}

.btn {
    @apply p-2 rounded-md cursor-pointer font-bold transition-all duration-300 ease-in-out;
}

.btn-primary {
    @apply bg-primary text-primary-text hover:bg-secondary focus:outline-none focus:bg-red-600;
}

.btn-secondary {
    @apply bg-secondary text-secondary-text hover:bg-white hover:text-black focus:outline-none focus:bg-gray-400 focus:text-black;
}

.btn-success {
    @apply bg-green-500 text-primary-text hover:bg-green-600 focus:bg-green-700 focus:outline-none;
}

.multi-form-group {
    @apply flex justify-between items-center space-x-1;
}

.form-group {
    @apply flex flex-col justify-between space-y-1 md:space-y-2;
}

.form-control {
    @apply flex flex-col space-y-1 sm:space-y-2 md:space-y-3 lg:space-y-4 justify-between;
}